/* Global styles for clothing sale website */

body {
  margin: 0;
  font-family: "DM Serif Display", serif;
  background: #f6f6f8;
  color: #222;
  width: 100%;
}
/* Encabezado styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: #b0dbb2;
  color: #000000;
  padding: 5px 20px;
}

/*Barra de navegación styles */
.menu {
  width: 40px;
  height: 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 40px;
}

.perfil {
  width: 25px;
  height: 25px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #0e6c12;
  text-decoration: underline;
}
/*Barra de navegación styles */

/* Main content styles */
.banner {
  width: 100%;
  height: auto;
  display: block;
}

/*CONTENIDO PRINCIPAL*/
/*ABRIGOS*/
.contenido {
  max-width: 9000px;
  margin: 20px 20px;
  padding: 20px;
}
.Titulo {
  margin: 20px 20px;
}
.catalogo {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.producto {
  width: 280px;
  background: white;
  border-radius: 20px;
  padding: 18px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.12);
}

.producto img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

button {
  align-items: left;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(41, 161, 212);
  box-shadow: 0 5px 20px rgba(0,0,0,0.12);
}
/*T-SHIRT*/
.contenido2 {
  max-width: 9000px;
  margin: 20px 20px;
  padding: 20px;
}
.Titulo2 {
  margin: 20px;
}
.catalogo2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.producto2 {
  width: 280px;
  background: white;
  border-radius: 20px;
  padding: 18px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.12);
}

.producto2 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

button {
  align-items: left;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(41, 161, 212);
  box-shadow: 0 5px 20px rgb a(0,0,0,0.12);
}

/*INTERMEDIO*/
.Personalizar{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px; 
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px 50px 5px 50px;
}
.columna1{
  max-width: 550px;
  padding: 0 20px
}
p{
  font-size: larger;
}
.columna2 img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px
  }

  button {
  align-items: left;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(41, 161, 212);
  box-shadow: 0 5px 20px rgb a(0,0,0,0.12);
}
/*CONOCENOS*/
.conocenos{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px; 
  margin-left: 100px;
  margin-right: 100px;
  gap: 50px;
  padding: 50px 50px 15px 50px;

}
.texto{
  max-width: 550px;
  padding: 0 20px
}
p{
  font-size: larger;
  text-align: justify;
}
.logo img{
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 15px
}

/* Footer */
.footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#b0dbb2;
  padding:20px 40px;
}

.logof img{
  width:170px;
  height:auto;
  padding: 10px;
}

.derechos{
  text-align:center;
  justify-items: center;
}

.derechos h2{
  margin-bottom:10px;
}

.derechos p{
  margin:5px 0;
}

.contactos{
  display:flex;
  flex-direction:column;
  gap: 8px;
}
.telefonop, .correo p, h2{
  margin: 0;
}

.telefono,
.correo{
  display:flex;
  align-items:center;
  gap:10px;
}

.telefono img,
.correo img{
  width:22px;
  height:22px;
}

.logosc{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.logosc img{
  width:30px;
  height:30px;
  transition:.3s;
  cursor:pointer;
}

.logosc img:hover{
  transform:scale(1.15);
}

footer h2:hover{
  color:#0e6c12;
  text-decoration:underline;
}